# Node / React
frontend/build/
frontend/public
frontend/.env

# Python / Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# General
.DS_Store
*.log
.lightning_studio
.windsurf-server
.vscode-server
.idea
.cursor-server